.snipcart * {
	font-family: objectSans;
	background-color: "#b76e79";
	font-weight: bold;
}

.snipcart-cart__footer-buttons {
	background-color: #b76e79;
}

.snipcart-button-primary {
	background-color: #b76e79;
}
.snipcart {
	background-color: #b76e79;
}
