.snipcart * {
	font-family: objectSans;
	background-color: "#b76e79";
	font-weight: bold;
	z-index: 200;
}

.snipcart-cart__footer-buttons {
	background-color: #b76e79;
}

.snipcart-button-primary {

}
.snipcart