@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "domainemedium";
	src: local(domainemedium), local("domainemedium"), url("assets/fonts/domainemedium.woff") format("woff"),
		url("assets/fonts/domainemedium.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "domainesemibold";
	src: local(domainesemibold), local("domainesemibold"), url("assets/fonts/domainesemibold.woff") format("woff"),
		url("assets/fonts/domainesemibold.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "domainebold";
	src: local(domainebold), local("domainebold"), url("assets/fonts/domainebold.woff") format("woff"),
		url("assets/fonts/domainebold.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "domaineextrabold";
	src: local(domaineextrabold), local("domaineextrabold"), url("assets/fonts/domaineextrabold.woff") format("woff"),
		url("assets/fonts/domaineextrabold.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "helvetica";
	src: local(helvetica), local("helvetica"), url("assets/fonts/helvetica.woff") format("woff"), url("assets/fonts/helvetica.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "objectSans";
	src: local(objectSans), local("objectSans"), url("assets/fonts/objectSans.woff") format("woff"),
		url("assets/fonts/objectSans.woff2") format("woff2");
	font-display: swap;
}
